.grettings {
    background-image: url(../../IMG/grettings/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.container {
}


.header {
}


.logo {
}


.nav {
}


.nav__list {
}


.nav__item {
}


.square {
}


.gpettings__content {
}


.grettings__titli {
}


.grettings__text {
}


.grettings__btn {

}